.menu{
    min-width: 180px;
    &.light{
        button{
            background: #fff;
        }
        svg{
            fill: black;
        }
    }
    &.dark{
        button{
            background: rgb(44, 43, 44);
        }
        svg{
            fill: white;
        }
    }
}
.border__bottom{
    margin: 7px 10px;
    border-bottom: 1px solid rgb(212, 206, 206);
}
@media screen and (max-width: 992px){
    .menu{
        min-width: 160px;
    }
    svg{
        min-width: 17px;
        min-height: 17px;
    }
}
@media screen and (max-width: 500px){
    svg{
        min-width: 17px;
        min-height: 17px;
    }
}