.container{
    width: 100%;
    box-sizing: border-box;
    padding-top: 1em;
    margin-left: 300px;
    transition-duration: 0.5s;
    min-height: 93.5vh;
    margin-top: 50px;
}

#sideBar__invisible{
    margin-left: 0;
}
@media screen and (max-width: 768px) {
    .container{
        margin-left: 0;
    }
}
