.defaultProjects{
    li{
        display: flex;
        align-items: center;
    }
    &.light{
        li{
            svg{
                height: 30px;
                width: 30px;
                path{
                    fill: black !important;
                }
                polygon{
                    fill: black !important;
                }
            }
        }
    }
    &.dark{
        li{
            svg{
                height: 25px;
                width: 25px;
                margin-right: 0.8rem;
                path{
                    fill: white !important;
                }
                polygon{
                    fill: white !important;
                }
            }
        }
    }
}