.defaultProjects{
    li{
        display: flex;
        align-items: center;
        svg{
            height: 25px;
            width: 25px;
            margin-right: 0.8rem;
        }
    }
    &.light{
        li{
            svg{
                path{
                    fill: black !important;
                }
                polygon{
                    fill: black !important;
                }
            }
        }
    }
    &.dark{
        li{
            svg{
                path{
                    fill: white !important;
                }
                polygon{
                    fill: white !important;
                }
            }
        }
    }
}