.actions{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
        width: 20px;
        height: 20px;
        margin-right: 1em;
        cursor: pointer;
    }
}