.sideBarVis__btn{
    width: 35px;
    height: 35px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2em;
    transition-duration: 0.2s;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    .spans{
        span{
            display: block;
            width: 20px;
            height: 2px;
            transition-duration: 0.3s;
        }
        &__middle{
            margin-top: 0.4em;
        }
        &__bottom{
            margin-top: 0.4em;
        }
    }
    &.light{
        background: rgb(114, 22, 201) !important;
        span{
            background-color: white;
        }
        span::before{
            background-color: white;
        }
        span::after{
            background-color: white;
        }
    }
    &.dark{
        background: rgb(20, 20, 20) !important;
        span{
            background-color: whitesmoke;
        }
        span::before{
            background-color: whitesmoke;
        }
        span::after{
            background-color: whitesmoke;
        }
    }
}
.sideBarVis__btn:hover{
    background: rgba(8, 1, 102, 0.589);
}
#sideBar__invisible{
    align-items: inherit;
    .spans{
        &__top{
            margin: -1px 0px 0px 0px;
            transform: rotate(45deg);
        }
        &__middle{
            display: none;
        }
        &__bottom{
            margin-top: -1px;
            transform: rotate(-45deg);
        }
    }
}