.header{
    height: 50px;
    // background: linear-gradient(45deg, rgb(68, 0, 255) 40%, white, rgb(115, 8, 255) 60%);
    background: rgb(152, 61, 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.light{
        background: rgb(152, 61, 238);
        color: white;
    }
    &.dark{
        background: rgb(44, 43, 44);
        color: white;
    }
    &__right{
        display: flex;
        align-items: center;
    }
}
.sideBarVis__btn{
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 2em;
    transition-duration: 0.2s;
    border: none;
    &.light{
        background: rgb(114, 22, 201) !important;
        span{
            background-color: white;
        }
        span::before{
            background-color: white;
        }
        span::after{
            background-color: white;
        }
    }
    &.dark{
        background: rgb(20, 20, 20) !important;
        span{
            background-color: whitesmoke;
        }
        span::before{
            background-color: whitesmoke;
        }
        span::after{
            background-color: whitesmoke;
        }
    }

    border-radius: 50%;
    cursor: pointer;
    span{
        position: absolute;
        top: 50%; margin-top: -2px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;

    }
    span::before{
        content: '';
        position: absolute;
        top: 50%; margin-top: -8px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        transition-duration: 0.3s;
    }
   span::after{
        content: '';
        position: absolute;
        top: 50%; margin-top: 6px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        transition-duration: 0.3s;
    }
}
.sideBarVis__btn:hover{
    background: rgba(8, 1, 102, 0.589);
}
#sideBar__invisible{
    span{
        height: 0px;
    }
    span::before{
        margin-top: 0px;
        transform: rotate(45deg);
    }
    span::after{
        margin-top: 0px;
        transform: rotate(-45deg);
    }
}
.logOut__button{
    padding: 0.3em 1em;
    margin-right: 3em;
    border: 1px solid rgba(255, 255, 255, 0.411);
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.616), rgba(210, 213, 236, 0.336), purple);
    color: white;
    box-shadow: inset 0px 0px 3px rgb(184, 172, 192);
    cursor: pointer;
}
.theme__toggle{
    width: 80px;
    height: 32px;
    margin: 10px 10em 10px 0 ;
    padding: 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border: 2px solid gray;
    &:before{
        content: '';
        width: 30px;
        height: 29px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.light{
        &:before{
            transform: translateX(2%);
            transform: translateY(-2%);
            background-color: black;
            transition-duration: 1s;
        }
        background-color: white;
    }
    &.dark{
        &:before{
            transform: translateX(153%);
            height: 28px;
            background-color: white;
            transition-duration: 1s;
        }
        background-color: rgba(0, 0, 0, 0.897);
    }
}