.createProject__overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(71, 2, 99, 0.192);
}
.createProject{
    padding: 5em;
    border-radius: 0.5em;

    &.light{
        background: white;
    }
    &.dark{
        background: rgb(40, 27, 53);
    }
}
