.createProject__overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(71, 2, 99, 0.192);
}
.createProject{
    padding: 5em;
    border-radius: 0.5em;

    &.light{
        background: white;
    }
    &.dark{
        background: rgb(122, 3, 201);
    }
}
.addProject__btn{
    margin-top: 1em;
    width: 95.5%;
    padding: 7px;
    color: white !important;
    border: none;
    background: rgb(155, 4, 201) !important;
    cursor: pointer;
}
.addProject__input{
    padding: 5px;
    width: 90%;
}
@media screen and (max-width: 768px){
    .createProject{
        padding: 5em 2em;
    }
}
