.createProject{
    position: relative;
    z-index: 15;
    background: white;
    padding: 5em;
    border-radius: 0.5em;
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        min-height: 100vh;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(29, 28, 28, 0.192);
    }
}