#checkbox{
    &__none::before{
       border: 2px solid black; 
    }
    &__orange::before{
        border: 2px solid orange; 
     }
    &__red::before{
        border: 2px solid red; 
    }
    &__purple::before{
       border: 2px solid purple; 
    }
}