.checkbox{
    // &__none::before{
        
    // }
    &__orange::before{
        border: 2px solid orange !important;
     }
    &__red::before{
        border: 2px solid red !important;
    }
    &__purple::before{
       border: 2px solid purple !important;
    }
}