.sideBar{
    width: 20%;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background: rgb(245, 245, 245);
    height: 100vh;
    transition-duration: 0.5s;

    ul{
        padding-left: 0px;
        list-style: none;
        font-size: 1.2em;
        line-height: 170%;
        a{
            text-decoration: none;
            color: black;
        }
        li{
            border-radius: 0.1em;
            padding-left: 1rem;
            word-break: break-all;
            margin-top: 0.4rem;
        }
        li:hover{
            transition-duration: 1s;
            margin-top: 0.4rem;
            background: rgb(237, 232, 232);
        }
    }
}
#sideBar__invisible{
    transform: translateX(-100%);
}
#create__projectBtn{
    background: linear-gradient(45deg, rgb(68, 0, 255), 45%, rgb(150, 125, 255), rgb(115, 8, 255) 60%);
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.3em;
    color: white;
}