.sideBar{
    min-width: 20%;
    max-width: 20%;
    padding: 1rem 0.5rem 0.5rem 1rem;
    transition-duration: 0.5s;
    #create__projectBtn{
        padding: 0.5em;
        cursor: pointer;
        border-radius: 0.3em;
    }
    li:hover{
        transition-duration: 1s;
        margin-top: 0.4rem;
    }
    &.light{
        background: rgba(243, 219, 255, 0.514);
        li:hover{
            background: rgba(191, 85, 252, 0.534);
        }
        #create__projectBtn{
            background: rgb(146, 3, 202);
            color: white;
        }
    }
    &.dark{
        background: rgb(44, 43, 44);
        li:hover{
            background: rgb(59, 57, 57);
        }
        #create__projectBtn{
            background: rgb(118, 0, 214);
            color: white;
        }
    }
    ul{
        padding-left: 0px;
        list-style: none;
        font-size: 1.2em;
        line-height: 170%;
        a{
            text-decoration: none;
        }
        li{
            border-radius: 0.1em;
            padding-left: 1rem;
            word-break: break-all;
            margin-top: 0.4rem;
        }

    }
}
#sideBar__invisible{
    transform: translateX(-100%);
}
