.active{
    color: rgb(255, 149, 0);
    li{
        transition-duration: 0.1s;
        font-size: 120%;
        background: rgba(159, 97, 218, 0.836);
        color: white;
    }
    li:hover{
        margin-top: 0.4rem;
        transition-duration: 0.1s;
    }
}