.sideBar{
    position: fixed;
    z-index: 100;
    top: 50px;
    left: 0px;
    width: 300px;
    min-height: 100vw;
    padding: 1rem 0.5rem 0.5rem 1rem;
    li:hover{
        transition-duration: 1s;
        margin-top: 0.4rem;
    }
    &.light{
        background: rgba(243, 219, 255, 1);
        li:hover{
            background: rgba(187, 84, 247, 0.671);
        }
    }
    &.dark{
        background: rgb(44, 43, 44);
        li:hover{
            background: rgba(157, 104, 207, 0.836);
        }
    }
    ul{
        padding-left: 0px;
        list-style: none;
        font-size: 1.2em;
        line-height: 170%;
        a{
            text-decoration: none;
        }
        li{
            border-radius: 0.1em;
            padding-left: 1rem;
            word-break: break-all;
            margin-top: 0.4rem;
        }

    }
}
#sideBar__invisible{
    left: -350px;
}

@media screen and (max-width: 768px) {
    .sideBar{
        z-index: 100;
        width: 300px;
        min-height: 100%;
    }
}