.body{
    width: 75%;
    display: flex;
    flex-direction: column;
    &__name{
        font-size: 1.1em;
    }
    &__description{
        color: gray;
    }
    &__content{
        display: flex;
        flex-direction: column;
    }
    &__time{
        font-size: 0.7em;
        &_added{
            margin-right: 0.5em;
        }
        &_date{

        }
        &_time{
            margin-left: 0.5em;
        }
    }
}
.completed{
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.deleteIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}